/* Registration Confirmation Page CSS Alpha Team */
/* Consists of Andres Melendez, Jeffrey Reid, Edgar Arroyo, Jordany Gonzalez, and Matthew Trinh */
@charset "UTF-8";



body {
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb') no-repeat center center/cover;
}


#confirm {
	text-align: center;
	margin: 100px 300px;
    padding: 150px 0px;
	font-size: 2.5em;
	background-color: azure;
	border-style: solid;
	border-radius: 5px;
}

.confirmtohome {
    font-size: .4em;
}

@media screen and (min-width: 1921px) {
	#confirm {
		margin: 7.02% 25%;
	}
}

/* George1! */